# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

# reload the i3 config when I left click on the i3status time module
# and restart i3 when I middle click on it 


general {
  colors = true
  interval = 1
}

py3status {
  nagbar_font = 'pango:DejaVu Sans Mono 10'
}

#order += "ipv6"
#order += "static_string term"
#order += "static_string web"
#order += "apt_updates"
order += "netdata"
#order += "disk /"
#order += "disk /home"

#order += "run_watch DHCP"
#order += "run_watch VPN"
order += "wifi"
#order += "ethernet _first_"

#order += "group net"
#order += "path_exists RocherVPN"
#order += "path_exists NordVPN"
order += "external_script myip"
order += "sysdata"
order += "backlight"
order += "external_script pa_sink"
order += "volume_status master"
order += "volume_status micro"

order += "xrandr"
order += "tztime local"
order += "battery_level"
order += "yubikey"
order += "whoami"
order += "static_string suspend"
order += "static_string poweroff"


backlight { 
  format = "⚙️ {level}%"
  click 1 = "exec xbacklight -inc 10 "
  click 3 = "exec xbacklight -dec 10 "
}

external_script pa_sink {
  format = "🎧 {output}"
  script_path = "~/scripts/currentSink.sh"
  click 1  = " && killall -s USR1 .py3status-wrapped"
}


volume_status master {
  format = "🔉 {percentage}%"
  format_muted = "🔇    "
  #device = "0"
  command = "pactl"
  max_volume = "100"
  thresholds = [
    (0,  "#C62700"),
    (10,  "#BC7100"),
    (20,  "#B2B200"),
    (30,  "#64A800"),
    (40,  "#1F9E00"),
    (50,  "#009900"),
    (60,  "#41A300"),
    (70,  "#8AAD00"),
    (80,  "#B79200"),
    (90,  "#C14D00"),
    (100, "#CC0000")
  ]
}

volume_status micro {
  format = "🎙️ {percentage}%"
  format_muted = "🤐    "
  #device = "1"
  is_input = True
  command = "pactl"
  max_volume = "100"
  thresholds = [
    (0,  "#C62700"),
    (10,  "#BC7100"),
    (20,  "#B2B200"),
    (30,  "#64A800"),
    (40,  "#1F9E00"),
    (50,  "#009900"),
    (60,  "#41A300"),
    (70,  "#8AAD00"),
    (80,  "#B79200"),
    (90,  "#C14D00"),
    (100, "#CC0000")
  ]
}

wifi {
  format = "[\?color=#FFFFFF 📶 📡 {signal_percent}% {ssid} | 🚫 📡]"
}

ethernet _first_ {
  # if you use %speed, i3status requires root privileges
  format_up = "E: %ip (%speed)"
  format_down = "E: down"
}

systemd docker {
  format = ""
  unit = "docker.service"
  color_bad = "#585858"
}

battery_level {
  format = "{icon} {percent}% {time_remaining}"
  blocks = ""
  charging_character = "🔌"
  hide_seconds = True
  measurement_mode = "sys"
  notify_low_level = True
  color_bad = "#FF0000"
  color_charging = "#A4A4A4"
  color_degrated = "#FF8000"
  color_good = "#00FF00"
}

run_watch DHCP {
  pidfile = "/var/run/dhclient*.pid"
}

path_exists RocherVPN {
  format= " RocherVPN"
  path = "/proc/sys/net/ipv4/conf/ppp0"
}

path_exists NordVPN {
  format= " NordVPN"
  path = "/proc/sys/net/ipv4/conf/tun0"
}

external_script myip {
  format = "{output}"
  script_path = "ip=$(curl -s ifconfig.me) && echo 🌍 $ip $(whois $ip | awk ' /[Cc]ountry/{print $2}') | sed 's/FR/🇫🇷/g' "
}

tztime local {
  format = "%d/%m %H:%M"
  on_click 1 = "reload"
}

sysdata {
  format = "[\?color=cpu :{cpu_usage:d}%]"
  format += " [\?color=mem :{mem_used_percent:d}%]"
  format += " [\?color=temp 🌡️:{cpu_temp:d}°]"
  thresholds = {
    'temp': [
      (0, "#FFFFFF"),
      (60, "#A4A4A4"),
      (75, "#A4A4A4"),
    ],
    'cpu': [
      (0, "#FFFFFF"),
      (0.1, "#FFFFFF"),
      (0.8, "#FFFFFF"),
      (1, "#FFFFFF"),
    ],
    'mem': [
      (0, "#FFFFFF"),
      (10, "#FFFFFF"),
      (80, "#A4A4A4"),
      (90, "#A4A4A4"),
    ],
  }
}

#group stats {
#  cycle = 1
#  format = "{output}"
#  sysdata cpu {
#    format = "[\?color=cpu {load1} ]"
#  }
#  sysdata mem {
#    format = "[\?color=mem {mem_used:d} {mem_unit} ]"
#  }
#  sysdata temp {
#    format = "[\?color=temp {cpu_temp:d}° ]"
#  }
#}

disk "/" {
  format = " / %avail"
  on_click 1 = "exec caja /"
}
disk "/home" {
  format = " /home  %avail"
  on_click 1 = "exec caja /home"
}

group net {
  cycle = 5
  format = "{output}"
  net_iplist {
    iface_blacklist = ['lo','docker0','vboxnet*']
    ip_blacklist = ['127.*','172.*','::1']
    format = " {format_iface}" 
    format_iface = "{ip4}"
    color_good = "#FFFFFF"
  }
}
netdata {
  format = "[\?color=#FFFFFF 🔻 {down} 🔺 {up}]"
}

xrandr {
  format = "💻 {output}"
  on_click 1 = "exec arandr"
}

whoami {
  format = "🔒 {username}"
  on_click 1 = "exec dm-tool lock"
}

static_string suspend {
  format = "  "
  on_click 1 = "exec systemctl suspend"
}

static_string poweroff {
  format = "  "
  on_click 1 = "exec systemctl poweroff"
}

yubikey {

}