[global_config]
  borderless = True
  disable_real_transparency = True
  suppress_multiple_term_dialog = True
[keybindings]
  zoom_in = <Primary>equal
  zoom_out = <Primary>minus
[profiles]
  [[default]]
    background_darkness = 0.6
    background_type = transparent
    cursor_shape = ibeam
    font = Fira Code weight=450 10
    show_titlebar = False
    scrollbar_position = disabled
    use_system_font = False
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
